section#cv
    h1 Last night, a bunch of putrid aliens came and stole my work! And stole my socks!
    p I know that's not a good excuse, but i'm simply too tired to continue working on this page right now. I will have more to say in the next few days and will be updating almost constantly until this site starts to bore me. But I do at least promise to get this about page up and running soon. Until then, take a look at some of the links below.

    markdown:
        * <span class="dribbble"></span> [Dribbble](http://www.dribbble.com/kuzin)
        * <span class="loop"></span> [LinkedIn](http://www.linkedin.com/in/michaelkuzin)
        * <span class="twitter_dark"></span> [Twitter](http://www.twitter.com/kuzin)
        * <span class="facebook_dark"></span> [Facebook](http://www.facebook.com/DaKuzz)
        * <span class="hero_cosmic"></span> [Github](http://www.github.com/Kuzin)