section#cv
    markdown:

        # He rose from the deep blackness of the ocean. With eyes like diamonds and hair as beautiful as a dolphin. He was kind-hearted, but also stern, with a whimsical sense of merriment. Almonds crushed themselves at the sight of him. He was known by some as El Savidor.

        * <span class="dribbble"></span> [Dribbble](http://www.dribbble.com/kuzin)
        * <span class="loop"></span> [LinkedIn](http://www.linkedin.com/in/michaelkuzin)
        * <span class="twitter_dark"></span> [Twitter](http://www.twitter.com/kuzin)
        * <span class="facebook_dark"></span> [Facebook](http://www.facebook.com/DaKuzz)
        * <span class="hero_cosmic"></span> [Github](http://www.github.com/Kuzin)