section#about
    div#about-left
        h1 Welcome
        markdown:
            This is mike __KUZIN__, a Designer/Developer with a focus on usability architecture and beautiful front-end code, and overall neat guy. He belives in writing effective semantic code with a focus on standards, and defines his style as __pixel perfect__ with a __gooey flair__. There's a beauty to be found in simplistic-minimalistic design, and he strives to achieve this asthetic with every project he takes on. He is a self-taught coder and well-versed designer, with __many years of experience__ working with both clients and companies of varied sizes.

        span#note <strong>NOTE:</strong> This domain serves as a breeding ground for my ideas and experiments, it may and will change often. Mostly on a whim, or when I think of a cool new feature.
        markdown:
            __RECENT PROJECTS OF NOTE__

            * [ShowClix](http://www.showclix.com) [Design & Front-end]
            * Insurance Zebra [Design & Front-end] (Coming Soon)
            * [ShowClix Crowd](http://www.showclix.com/crowd) [Design & Front-end]
            * [Paganico Designs](http://www.paganicodesigns.com) [Front-end]
        br
        markdown:
            __LOCATIONS OF NOTE__

            <span class="dribbble"></span> [Dribbble](http://www.dribbble.com/kuzin)
            <span class="loop"></span> [LinkedIn](http://www.linkedin.com/in/michaelkuzin)
            <span class="twitter_dark"></span> [Twitter](http://www.twitter.com/kuzin)
            <span class="facebook_dark"></span> [Facebook](http://www.facebook.com/DaKuzz)
            <span class="hero_cosmic"></span> [Github](http://www.github.com/Kuzin)
    div#about-right
        div#portrait
        div#tweet
            p
                span.twitter_dark style="margin-right:5px"
                strong LATEST TWEET
            p.tweet-box
        div#truths style="margin-top:30px"
            p
                span.info style="margin-right:5px"
                strong FACTS

                markdown:
                    * Self-taught Coder
                    * Former Print Designer
                    * Web Addict
                    * Avid Gamer
                    * Typophile
                    * Bearded & Moustachioed
                    * Flying Car Advocate
                    * Cinemaphile
                    * Whoovian
                    * Apple Enthusiast
                    * Dotfile Orginizer
                    * Horror Aficionado
                    * Finiky Tweeter
                    * Part-time Smoker
                    * Email Communicator
                    * Heavy Sleeper
                    * Technology Ranter
                    * Standards Geek




