section#cv
    a href="assets/kuzin_resume.pdf" class="resume-btn" <span class="download_arrow"></span> Download PDF Version
    a onclick="window.print();return false;" class="resume-btn" <span class="printer"></span> Print a Copy
    markdown:
        # the resumé of __mike kuzin__

        ## [UX-UI] Designer & Front End Developer @ [ShowClix](http://www.showclix.com)

        ### <span class="home_dark"></span> Objective

        I am a seasoned designer/developer with a focus on creating quality user experiences by combining both of my skill sets – creative and technical. I thrive on challenges of addressing problems that occur when people use technology. My goal is to improve online experiences for all people regardless of age, skill level or disability. I am a life-long learner, and leader by example and I am committed to the quality of my craft.

        ### <span class="info"></span> Recent Career Profile

        __UX Design Lead / Developer__
        [ShowClix, Inc.](http://showclix.com) - Pittsburgh, PA
        _October 2010 to Present_

        __Founder, Creative Director__
        [Kuzin Creative](http://kuzn.me) - Pittsburgh, PA
        _April 2006 to Present_

        __Graphic Designer & Front-end Developer__
        [Direct Axis Creative](http://direct-axis.net) - Pittsburgh, PA
        _March 2009 to April 2010_

        ### <span class="desktop_pc"></span> Technical Inventory

        * __Expert standards-based Web developer__, utilizing valid hand-coded HTML/HTML5 and CSS/SASS/LESS
        * Skilled in graphic design and art direction within a team-based environment.
        * Obsessed with usability, wireframes, A/B testing, and latest trends.
        * Professional level photo editing and asset creation, utilizing tools such as Adobe Photoshop, Illustrator & Fireworks
        * Comfortable working in a text-editing environment such as: [Sublime Text 2](http://www.sublimetext.com/2), Coda, VIM, Nano
        * Comfortable managing large repositories of code via [Git](http://www.github.com/kuzin) or other version control systems and integrating HTML and CSS within large code environments or frameworks such as Ruby on Rails, PHP, or .NET
        * Experience designing and developing websites with WordPress as a CMS and other PHP-based templating systems.
        * Ability to add interactivity to a website utilizing javascript and various javascript frameworks ([jQuery](http://jquery.com), [Mootools](http://mootools.net))
        * Experience with MVC and MVC Frameworks (RoR, Django, CakePHP, etc.)
        * Working knowledge of The Document Object Model and Object Oriented Programming.
        * Obsessed with proper use of semantics and standardization of the web.
        * Loves pineapple upside down cake.


        ### <span class="flask"></span> Education History

        __The Art Institute of Pittsburgh__
        Pittsburgh, PA
        Bachelor of Science with Honors (3.7), Graphic Design, 2008

        ### <span class="bubble_clear"></span> Thoughtful Recommendations

        <p class="recomendation">
        I don't exaggerate when I say that Michael is the most prolific (and perfectionist) designer I've encountered as a teacher of art and design. When a project would seem to be at its best and no one had anything else to add, Michael would somehow discover a way to improve it. Not only did he consistently push the limits of his own art, but inspired others to do the same. It didn't surprise me at all when he won Best of Show at Portfolio Review. He shared information liberally with his peers and instructors and worked incredibly hard. If I were hiring a designer, I'd hire him in a heartbeat.

        <span class="recomendation-who"><span class="user_clear"></span> <strong>Terese Junge</strong>, <em>Professor of Graphic Design</em>, The Art Institute of Pittsburgh</span>
        </p>

        <p class="recomendation">
        Mike is a very clever designer who is patient, attentive to detail, and willing to deal with meticulous changes. His style always evolves and I'm consistently impressed with his work, especially what I see outside of the office.

        <span class="recomendation-who"><span class="user_clear"></span> <strong>Anthony Fabbricatore</strong>, <em>Marketing Communications Coordinator</em>, ShowClix, Inc.</span>
        </p>

        <p class="recomendation">
        Mike is an extremely talented and versatile designer with an impressive bank of knowledge that covers everything from conceptual theory to scalable web development. Whether he's sketching out a workflow, assembling an interface or constructing an eye-popping, attention-grabbing landing page, Mike keeps the focus on the users while consistently executing projects in an elite and timely fashion. With his passion for solving complex interaction problems, coupled with a fun-loving, resilient attitude, Mike is an ideal candidate for a fast-paced dev environment. He is one of the most sophisticated, innovative and productive designers I've ever met, and working with him was an absolute pleasure.

        <span class="recomendation-who"><span class="user_clear"></span> <strong>Jonathan Bieda</strong>, <em>Creative Director</em>, ShowClix Inc.</span>
        </p>

        ### <span class="bookmark_alt"></span> Metadata

        *   __Portfolio__
            [kuzn.me/work](kuzn.me/work)
        *   __About__
            [kuzn.me/about](kuzn.me/about)
        *   __LinkedIn__
            [linkedin.com/in/michaelkuzin](linkedin.com/in/michaelkuzin)
        *   __Dribbble__
            [dribbble.com/players/kuzin](dribbble.com/players/kuzin)
        *   __Twitter__
            [twitter.com/kuzin](twitter.com/kuzin)


        _Code Samples & References Available by Request_